@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 25px;
	font-family: var(--ff-space-mono);
	font-weight: 400;
	font-size: 15px;
}
